* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #00c3ff;
}

.hero {
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    position: relative;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content h2 {
    font-size: 30px;
    font-weight: lighter;
}